<%- include('header'); -%>
<div class="columns">
  <div class="column is-two-thirds">
  <!-- Left Panel-->
  <!--- Begin Example HTML ------------------------------------------------------>
  <div id="myBoard" style="width: 640px"></div>
  <div id="fen"></div>
  <!--- End Example HTML -------------------------------------------------------->
  <!-- Left Panel-->
  </div>
   
  <div class="column">
  <!-- Right Panel-->
  <label>Status:</label>
  <div id="status"></div>
  <br>
  <label>PGN:</label>
  <div id="pgn"></div>
  <!-- Right Panel-->
  </div>
  </div>
<%- include('footer'); -%>