<nav class="navbar mb-4" role="navigation" aria-label="main navigation">
<div class="navbar-brand">
<a class="navbar-item" href="/"><img style="border-radius: 50%;" height="1rem" class="is-rounded" src="img/e.jpg"></a>
<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
<span aria-hidden="true"></span>
<span aria-hidden="true"></span>
<span aria-hidden="true"></span>
<span aria-hidden="true"></span>
</a>
</div>
<div id="navbarBasicExample" class="navbar-menu">
<div class="navbar-start">
<a href="/games" class="navbar-item">Games</a>
<a href="/puzzles" class="navbar-item">Puzzles</a>
<a href="/lessons" class="navbar-item">Lessons</a>
<a href="/settings" class="navbar-item">Settings</a>
<a href="/help" class="navbar-item">Help?</a>
</div>
<div class="navbar-end">
<div class="navbar-item">
<div class="buttons">
<a href="/login-register" class="button"><span class="icon"><i class="fa-solid fa-id-card-clip"></i></span><span><strong>login/register</strong></span></a>
</div>
</div>
</div>
</div>
</nav>